.brand-slider {
  width: 100%;
  margin: 0 auto;
	max-width: 97vw;
}

.brand-slider img {
  transition: transform 0.3s ease;
}

.brand-slider img:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 728px) {
	.brand-slider{
		width: 400px !important;
		margin-bottom: 50px;
	}
	.brand-image{
		height: 90px !important;
		width: auto !important;
	}
}


@media screen and (max-width: 512px) {
	.brand-slider{
		width: 350px !important;
		margin-bottom: 50px;
		gap: 10px !important;
	}
	.brand-image{
		height: 90px !important;
		width: auto !important;
	}
}

@media screen and (max-width: 512px) {
	.brand-slider{
		width: 250px !important;
		margin-bottom: 50px;
		gap: 10px !important;
	}
	.brand-image{
		height: 90px !important;
		width: auto !important;
	}
}