.signup-div button{
  bottom: -45%;
  height: 70px !important;
  width: 200px !important;
  font-size: 30px;
}

.head{
  text-align:center;
  width:50%;
  font-size:30px;
}
@media screen and (max-width: 728px) {
  .signup-div button{
    right: 27% !important;
    transform: translateY(450px);
    bottom: -500px;
  }

  .head{
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .signup-div button{
    right: 23% !important;
    transform: translateY(450px);
    bottom: 0px;
  }

  .head{
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .signup-div button{
    right: 18% !important;
    transform: translateY(450px);
    bottom: 0px;
  }

  .head{
    width: 100%;
  }
}