.loanbox{
  max-width: 20rem !important;
  height: 10rem !important;
}

@media screen and (max-width: 728px) {
  .main-image{
    height: 300px !important;

  }
  .box-div{
    width: 100% !important; 
  }
}