.main-right-text{
  width: auto;
}

.main1{
  width: 60%;
}
.main-right-text {
  transition: transform 1.5s ease, opacity 1.5s ease;
}

.main2{
  width: 40%;
}
@media screen and (max-width: 728px) {
  .main{
    display: flex;
    flex-direction: column;
    padding: 0px !important;  
    padding-left: 0px !important;
    gap: 0px !important;
  }
  .main1{
    width: 100%;
    margin: 30px 10px !important;
    padding: 30px !important;
    gap: 30px !important;
  }
  .main1 h1, .main1 h2{
    margin: 0px !important;
  }
  .main1 h2{
    font-size: 30px !important;
  }
  .main2{
    width: 80% !important;
    margin-left: 80px !important;
    /* padding-left: 20px !important; */

  }
  .main2 img{
    width: 100% !important;
  }
  .main2 p{
    font-size: 25px !important;
  }
  .play{
    margin-left: 0px !important;
  }
  .main-right-text{
    width: 70%;
    left: -50px !important;
  }
}