body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgb(255, 252, 247), rgb(254, 245, 233));
  overflow-x: hidden;
  max-width: 100vw;
}

.roboto-serif{
  font-family: 'Roboto Serif'
}

.roboto-slab{
  font-family: 'Roboto Slab'
}

.roboto-light{
  font-family: 'Roboto Light'
}

@tailwind base;
@tailwind components;
@tailwind utilities;