html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fff !important;
  max-width: 100%;
}



.roboto-serif{
  font-family: 'Roboto Serif'
}

.roboto-slab{
  font-family: 'Roboto Slab';
}

.roboto-light{
  font-family: 'Roboto Light'
}

@media screen and (max-width: 920px) {
  html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;  
  }
  /* .main1{
    margin-left: 0px !important;
    width: 50% !important;
  } */
}
@font-face {
  font-family: 'Coolvetica';
  src: url(./assets/fonts/coolveticargit.ttf) format('truetype');
  src: url(./assets/fonts/Manrope-VariableFont_wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url(./assets/fonts/Manrope-VariableFont_wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.coolvetica{
  font-family: 'Helvetica';
}

.manrope{
  font-family: 'Manrope';
}
@tailwind base;
@tailwind components;
@tailwind utilities;